# 依赖审查 Action
#
# 此 Action 将扫描作为 Pull Request 一部分而更改的依赖清单文件，
# 发现 PR 中声明或更新的包的已知易受攻击版本。
# 安装后，如果工作流运行被标记为必需，
# 引入已知易受攻击包的 PR 将被阻止合并。
#
# 源仓库：https://github.com/actions/dependency-review-action
name: '依赖审查'
on: [pull_request]
permissions:
  contents: read
jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: 加固运行器（审计所有出站调用）
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: '检出仓库'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: '依赖审查'
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2