name: 密钥扫描

permissions:
  contents: read
  
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "Dockerfile"
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "Dockerfile"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: 加固运行器（审计所有出站调用）
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit
    - name: 检出代码
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - name: 密钥扫描
      uses: trufflesecurity/trufflehog@a1d997362d636325de3acbb6318517a6e16ed766 # main
      with:
        extra_args: --results=verified,unknown
