name: 密钥扫描

permissions:
  contents: read
  
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "Dockerfile"
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "Dockerfile"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: 加固运行器（审计所有出站调用）
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit
    - name: 检出代码
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: 密钥扫描
      uses: trufflesecurity/trufflehog@4158734f234bd8770128deae2e2975cfab4b66a6 # main
      with:
        extra_args: --results=verified,unknown
